{% extends '::base.html.twig' %}
{%- block body -%}
 

	<div class="page-content-area">
						<div class="page-header">
							<h1>Planificación Riego</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-8">
								<!-- PAGE CONTENT BEGINS -->
								 {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
								<!-- #section:elements.form -->
							
								<div class="space-4"></div>
								<div class="space"></div>

								<div class="form-group">
									{{ form_label(form.tipo, '', { 'label_attr': { 'class': 'col-sm-4 control-label no-padding-right' }}) }}

										{{ form_widget(form.tipo, {'attr': {'class': 'col-xs-10 col-sm-3 col-sm-offset-1', 'placeholder': 'Tipo de riego' }}) }}
									<div class="col-sm-1">
										{{ form_errors(form.tipo) }}
									</div>
								</div>	
								
								<div class="form-group ">
									{{ form_label(form.tasaFinal, '', { 'label_attr': { 'class': 'col-sm-4 control-label no-padding-right' }}) }}

										{{ form_widget(form.tasaFinal, {'attr': {'class': 'col-xs-10 col-sm-2 col-sm-offset-1', 'placeholder': 'Ingrese tasaFinal' }}) }}
										
									<div class="col-sm-1">(lts/m2)</div>
									<div class="col-sm-1">
										{{ form_errors(form.tasaFinal) }}
									</div>
								</div>	

							
								<div class="form-group">
									{{ form_label(form.tasaRiego, '', { 'label_attr': { 'class': 'col-sm-4 control-label no-padding-right' }}) }}

										{{ form_widget(form.tasaRiego, {'attr': {'class': 'col-xs-10 col-sm-2 col-sm-offset-1', 'placeholder': 'Ingrese tasaRiego' }}) }}
									<div class="col-sm-1">(lts/m2)</div>
									<div class="col-sm-1">
										{{ form_errors(form.tasaRiego) }}
									</div>
								</div>	

							
								<div class="form-group">
									{{ form_label(form.dilucion, '', { 'label_attr': { 'class': 'col-sm-4 control-label no-padding-right' }}) }}

										{{ form_widget(form.dilucion, {'attr': {'class': 'col-xs-10 col-sm-2 col-sm-offset-1', 'placeholder': 'Ingrese dilucion' }}) }}
									<div class="col-sm-1">(%)</div>
									<div class="col-sm-2">
										{{ form_errors(form.dilucion) }}
									</div>
								</div>	

							
								<div class="form-group">
									{{ form_label(form.superficie, '', { 'label_attr': { 'class': 'col-sm-4 control-label no-padding-right' }}) }}

										{{ form_widget(form.superficie, {'attr': {'class': 'col-xs-10 col-sm-2 col-sm-offset-1', 'placeholder': 'Ingrese superficie' }}) }}
									<div class="col-sm-1">(m2)</div>
									<div class="col-sm-2">
										{{ form_errors(form.superficie) }}
									</div>
								</div>	

								<div class="form-group">
									{{ form_label(form.ancho, '', { 'label_attr': { 'class': 'col-sm-4 control-label no-padding-right' }}) }}

										{{ form_widget(form.ancho, {'attr': {'class': 'col-xs-10 col-sm-2 col-sm-offset-1', 'placeholder': 'Ingrese ancho' }}) }}
									<div class="col-sm-2">(m)</div>
									<div class="col-sm-2">
										{{ form_errors(form.ancho) }}
									</div>
								</div>	

								<div class="form-group">
									{{ form_label(form.tramos, '', { 'label_attr': { 'class': 'col-sm-4 control-label no-padding-right' }}) }}

										{{ form_widget(form.tramos, {'attr': {'class': 'col-xs-10 col-sm-3 col-sm-offset-1', 'placeholder': 'Ingrese tramos' }}) }}
									<div class="col-sm-3">
										{{ form_errors(form.tramos) }}
									</div>
								</div>	

								<div class="form-group">
									{{ form_label(form.volumen, '', { 'label_attr': { 'class': 'col-sm-4 control-label no-padding-right' }}) }}

										{{ form_widget(form.volumen, {'attr': {'class': 'col-xs-10 col-sm-2 col-sm-offset-1', 'placeholder': 'Ingrese volumen' }}) }}
									<div class="col-sm-3">(m3)</div>
									<div class="col-sm-3">
										{{ form_errors(form.volumen) }}
									</div>
								</div>	

								<div class="form-group">
									{{ form_label(form.estanque, '', { 'label_attr': { 'class': 'col-sm-4 control-label no-padding-right' }}) }}

										{{ form_widget(form.estanque, {'attr':{'class':'col-xs-10 col-sm-2 col-sm-offset-1', 'placeholder': 'Ingrese estanque' }}) }}
									<div class="col-sm-3">(m3)</div>
									<div class="col-sm-3">
										{{ form_errors(form.estanque) }}
									</div>
								</div>	
								
							</div>	
							
							<div class="col-xs-4">
									<button type="button" class="btn btn-info collapsed ocultable" id="calcular" data-toggle="collapse" data-target=".aparecible" onclick="toggler('ocultable',true);">
									Calcular
									</button>
								<div class="aparecible collapse ">	
									<div class="input-group">
									  <span class="input-group-addon">Volumen Solución</span>
									  <input type="text" class="form-control" aria-label="litros" id="tsolucion" readonly />
									  <span class="input-group-addon">lts</span>
									</div>
									<div class="input-group">
									  <span class="input-group-addon">Volumen Aditivo para Riego</span>
									  <input type="text" class="form-control" aria-label="litros" id="taditivo" readonly />
									  <span class="input-group-addon">lts</span>
									</div>
									<div class="input-group">
									  <span class="input-group-addon">Volumen de Agua para Riego</span>
									  <input type="text" class="form-control" aria-label="litros" id="tagua" readonly />
									  <span class="input-group-addon">lts</span>
									</div>
								</div>	
								<div class="space-10"></div>	
								<div class="aparecible collapse ">	
									<div class="input-group">
									  <span class="input-group-addon">Cantidad de contenedores a cargar</span>
									  <input type="text" class="form-control" aria-label="litros" value="1 contenedor de 1m3" readonly />
									{#  <span class="input-group-addon">lts</span> #}
									</div>
									<div class="input-group">
									  <span class="input-group-addon">Cantidad de agua por estanque aljibe</span>
									  <input type="text" class="form-control" aria-label="litros" id="testanque" readonly />
									  <span class="input-group-addon">m3</span>
									</div>
									<div class="input-group">
									  <span class="input-group-addon">Capacidad de llenado efectivo</span>
									  <input type="text" class="form-control" aria-label="litros" id="tllenado"readonly />
									{#  <span class="input-group-addon">lts</span> #}
									</div>
									<div class="input-group">
									  <span class="input-group-addon">Cantidad de riegos total</span>
									  <input type="text" class="form-control" aria-label="litros" id="triegos" readonly />
									{#  <span class="input-group-addon">lts</span> #}
									</div>
								</div>	
									

							</div>
							
						</div>	

							
								

								<!-- /section:elements.form -->
								<div class="space-4"></div>

								<div class="space"></div>

								<div class="clearfix form-actions aparecible collapse ">
								<div class="col-md-offset-5 col-md-7 aparecible collapse ">


								{{ form_widget(form.submit, {'label':'Guardar', 'attr':{'class':'btn btn-primary'}}) }}

					{% if is_granted('ROLE_PLAN') %}
								&nbsp; &nbsp;
								{{ form_widget(form.validar, {'label':'Validar', 'attr':{'class':'btn btn-default'}}) }}
					{% endif %}
								&nbsp; &nbsp;
								<button type="reset" class="btn btn-default " data-toggle="collapse" data-target=".aparecible" onclick="toggler('ocultable',false);">
									Cancelar
								</button>
							</div>
						</div>
						{{ form_end(form) }}
	
	
	</div>

		


<script>
function toggler(divId,calcular) {
    $("." + divId).fadeToggle();

	if (calcular = "true" ) {
		var volumen = $("#eye3_caminosbundle_planriego_tasaFinal").val() * $("#eye3_caminosbundle_planriego_superficie").val();
		$('#tsolucion').attr('value',volumen);
		var aditivo = volumen * $("#eye3_caminosbundle_planriego_dilucion").val() ;
		$('#taditivo').attr('value',aditivo);
		$('#tagua').attr('value',(volumen - aditivo));
		var contenedor = ((100-$("#eye3_caminosbundle_planriego_dilucion").val())/$("#eye3_caminosbundle_planriego_dilucion").val()) * $("#eye3_caminosbundle_planriego_volumen").val();
		$('#testanque').attr('value',Math.round(contenedor * 10) / 10);
		var llenado = 1 * $("#eye3_caminosbundle_planriego_volumen").val() + $("#eye3_caminosbundle_planriego_estanque").val();
		$('#tllenado').attr('value',llenado);
		var pasadas = $("#eye3_caminosbundle_planriego_volumen").val() / llenado;
		$('#triegos').attr('value',Math.ceil(pasadas) + ' pasadas de camión aljibe');


	}
	else{
		$('#tsolucion').attr('value',null);
		$('#taditivo').attr('value',null);
		$('#tagua').attr('value',null);
		$('#testanque').attr('value',null);
		$('#tllenado').attr('value',null);
		$('#triegos').attr('value',null);
	}
	
}
</script>
                             

{% endblock %}
