{% extends '::base.html.twig' %}
{% block stylesheets %}
{{parent()}}

				<link rel="stylesheet" href="{{ asset('bundles/eye3caminos/css/datepicker.css') }}" />
                <link rel="stylesheet" href="{{ asset('bundles/eye3caminos/css/datepicker3.css') }}" />
 {% javascripts '@data_tables' %}
   

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{ asset('bundles/eye3caminos/js/jquery.js') }}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='{{ asset('bundles/eye3caminos/js/jquery1x.js') }}'>"+"<"+"/script>");
		</script>
		<![endif]-->
		
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{{ asset('bundles/eye3caminos/js/jquery.mobile.custom.js') }}'>"+"<"+"/script>");
		</script>
		
 {% endjavascripts %}

{% endblock %}
{% block body %}


		<div class="row" >
                <div class="col-md-4 col-xs-2"></div>
                <div class="col-md-4 col-xs-9">
                        <!-- #section:plugins/date-time.datepicker -->
                                <form action="#" method="POST">
						
						<div class="graficos">
						<div class="input-daterange input-group col-md-8 col-xs-12" >
								<input type="text" class="input-sm form-control" name="start"  placeholder="{{start}}" value="{{start}}"/>
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-arrow-right"></i>
								</span>
								<input type="text" class="input-sm form-control" name="end"  placeholder="{{end}}" value="{{end}}"/>
						</div>
                                <input type="submit" value="ver">
                                </form>
						</div>
                </div>

        </div>
		
				  
		<div class="col-12">
			<div class="page-header"><h1>Resumen Medici칩n y Riego</h1></div>
		</div>
		
		<div id="placeholder1b" > </div><div id="legendContainer1" > </div><br>
		<div id="placeholder2" > </div>
					
	
	{% block js %}{% endblock %}
			<script src="{{ asset('bundles/eye3caminos/js/dataTables/jquery.dataTables.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('bundles/eye3caminos/js/dataTables/jquery.dataTables.bootstrap.js') }}" type="text/javascript"></script>
			<script src="{{ asset('bundles/eye3caminos/js/bootstrap.js') }}" type="text/javascript"></script>
			<script src="{{ asset('bundles/eye3caminos/js/ace/ace.js') }}" type="text/javascript"></script>
			<script src="{{ asset('bundles/eye3caminos/js/ace/ace.sidebar.js') }}" type="text/javascript"></script>
			
			 <script src="{{ asset('bundles/eye3caminos/js/date-time/bootstrap-datepicker.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/eye3caminos/js/date-time/locales/bootstrap-datepicker.es.js') }}" type="text/javascript"></script>

            <script src="{{ asset('bundles/eye3caminos/js/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('bundles/eye3caminos/js/flot/jquery.flot.symbol.js') }}"></script>
			<script src="{{ asset('bundles/eye3caminos/js/flot/jquery.flot.axislabels.js') }}"></script>
			<script src="{{ asset('bundles/eye3caminos/js/flot/jquery.flot.time.min.js') }}"></script>
			<script src="{{ asset('bundles/eye3caminos/js/flot/jquery.flot.resize.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
					xrango();
					xriego();
        });
		
		{% set colores = ["#EE3830", "#F47A2C", "#9CCC51", "#00828F", "#6C56A4", "#C44A72", "#F05A30", "#FAAB33", "#FDDF16", "#00AC5C", "#2E57A7" , "#9256A2" ] %}
		{% set colorpm10 = [['#F47A2C','#FAB788',"#FDC271"]] %}
			{% set contador = 0 %}
		{% set graficos = { 'pm10':["PM10","(ug/m3)"]} %}
		{% set fecha_minima = (grafico|first)["fecha"] %}
		{% set fecha_maxima = (grafico|last)["fecha"] %}
		{% set m_pm10 = 0 %}
		{% set tramos = {} %}
	
		function xrango() {
		
			$.resize.throttleWindow = false;
			
			<!-- $('.input-day').css({'display': 'none'}); -->
			<!-- $('.input-daterange').css({'display': ''}); -->
			
			var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
			var previousPoint = null;
			{% set contadortemporal = 0 %}	  
			
			{% for medicion,titulos in graficos if promedio is not empty %}
						{% set distanciador=0 %}
						{% set fecha_anterior=null %}
						var build_{{medicion}}_data = [
								{%- for i in promedio -%}
									{% if i[medicion] %}				
										{% if i.fecha <  (grafico|first)["fecha"] %} {#  seteo de primera fecha v치lida #}
											{% set fecha_minima =  i.fecha %}
										{% endif %}
										{% if i.fecha > fecha_maxima %}		
											{% set fecha_maxima =  i.fecha  %}
										{% endif %}
										{% if medicion == "pm10" and m_pm10 < i[medicion] %}	{#  seteo del valor m치ximo #}	
											{% set m_pm10= i[medicion] %}
										{% endif %}
										{% set distanciador = ((i.date == fecha_anterior)?(distanciador + 2) : 0) %}
										{% set fecha_anterior = i.date %}
										{% set adelando = "+"~(distanciador )~" hour" %}
										[{{i.fecha|date_modify("+0 day 00:00:00")|date_modify(adelando)|date("U")}}000, {{i[medicion]}}]
										{% if not loop.last %},{% endif %}
									{% endif %}
								{%- endfor -%}
							  ]
							  
					if (build_{{medicion}}_data.length > 0)
					{
						var placeholderb{{loop.index}} = $('#placeholder{{loop.index}}b').css({'width':'90%' , 'min-height':'300px', 'display': 'inline-block'});
						var leyenda{{loop.index}} = $('#legendContainer{{loop.index}}').css({'width':'5%' , 'min-height':'300px', 'display': 'inline-block'});
					}
					else
					{
						var placeholderb{{loop.index}} = $('#placeholder{{loop.index}}b').css({'width':'0px' , 'height':'0px', 'display': 'inline-block'});
						var leyenda{{loop.index}} = $('#legendContainer{{loop.index}}').css({'width':'0px' , 'min-height':'0px', 'display': 'inline-block'});
					}
							  
						var extra_{{medicion}}_data = [
								{%- for i in promedio -%}
									{% if i[medicion] %}
										{% set contadortemporal = contadortemporal +(fecha_anterior != i.date?1:0) %}
										'{{contadortemporal%2}}{{ i.NombreTramo }}'
										{% set fecha_anterior = i.date %}
										{% if not loop.last %},{% endif %}
									{% endif %}
								{%- endfor -%}
							  ]
							  
						var data{{loop.index}} = [
							{label: "{{titulos.0}}", data: build_{{medicion}}_data , points: { symbol: "circle" }, color: "{{colorpm10[loop.index0].0}}",colores: ['{{colorpm10[loop.index0].1}}','{{colorpm10[loop.index0].2}}'], extra: extra_{{medicion}}_data}
						];

		 				var meses = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "jul", "Ago", "sep", "Oct", "nov", "dec"];
						var options = {
							xaxis: { 
									mode: "time" ,
								{%- if fecha_minima is defined -%}
									min : {{fecha_minima|date_modify("-1 day")|date("U")}}000,
								{%- endif -%}
								{%- if fecha_maxima is defined -%}
									max : {{fecha_maxima|date_modify("+0 day 18:00:00")|date("U")}}000,
								{%- endif -%}
								
									axisLabel: 'Fecha/tramos',
									tickSize: [1, "day"],
									monthNames: meses,									
									timezone: "browser"
								{#	timezone: "UTC" la otra opcion #}
							}, yaxis: {
									min : 0,
									labelWidth : 38,
						{#% if medicion == "pm10"  %}
									max : 5000,
						{% endif %#}
									axisLabel: '{{titulos.0 ~ titulos.1}}'
							}, grid: {
								hoverable: true,
								clickable: true,
						{% if medicion == "pm10" %}
								markings: [
											  { color: 'yellow', yaxis: { from: 1600, to: 1600  } },
											  { color: 'red', yaxis: { from: 1800, to: 1800   } }
											],
						{% endif %}
								borderWidth: .3
							}, legend: {
								container:$("#legendContainer{{loop.index}}")   
							}, series: {
										points: {
											show: true,
											radius: 3
											}
							}
						};

					if (build_{{medicion}}_data.length > 0)
						var plot = $.plot($("#placeholder{{loop.index}}b"), data{{loop.index}}, options);	
						
{% if medicion == "pm10" and m_pm10 > 1500 %}
	var o;
    o = plot.pointOffset({ x:{{fecha_minima|date("U")}}000, y:1610});
    $('#placeholder3b').append('<div style="position:absolute;left:' + (o.left + 6) + 'px;top:' + o.top + 'px;color:#666;font-size:smaller">Umbral de riego</div>');
    o = plot.pointOffset({ x:{{fecha_minima|date("U")}}000, y:2050});
    $('#placeholder3b').append('<div style="position:absolute;left:' + (o.left + 6) + 'px;top:' + o.top + 'px;color:#666;font-size:smaller">M치ximo norma</div>');
{% endif %}	

						placeholderb{{loop.index}}.on('plothover', function (event, pos, item) {
							if(item) {
									var fecha = new Date(item.datapoint[0]); 
									previousPoint = item.seriesIndex;
									var tip = item.series['extra'][item.dataIndex].substring(1) + "<br>PM10 = " + item.datapoint[1].toFixed(1) +  "<br>" + fecha.getUTCDate() + "/" + (fecha.getUTCMonth()+1) + "/" + fecha.getUTCFullYear() ; 
									$tooltip.show().children(0).html(tip);
								
									$tooltip.css({top:pos.pageY + 5 , left:pos.pageX + 5, background:item.series['color']});
									$tooltip.children(0).css({ background:item.series['colores'][item.series['extra'][item.dataIndex].charAt(0)]});
							} else {
								$tooltip.hide();
								previousPoint = null;
							}
							
						 });
					
			{% endfor %}

		}
			

		function xriego() {
		
			$.resize.throttleWindow = false;
			
			<!-- $('.tabla').css({'display': 'none'}); -->
			<!-- $('.graficos').css({'display': ''}); -->
			
				
				  <!-- var placeholder1 = $('#placeholder1').css({'width':'90%' , 'min-height':'300px'}); -->
				  var placeholder2 = $('#placeholder2').css({'width':'90%' , 'min-height':'300px'});
				{% set calculo =  ("+0 days"|date("U") +( (grafico|last)["fecha"]|date("U") - (grafico|first)["fecha"]|date("U"))) %}
				{% if calculo < "+6 days"|date("U") %}	
						{% set diferencia = 80 %}
						{% set adelando = "+2 hour" %}
				{% elseif calculo < "+30 days"|date("U") %}
						{% set adelando = "+6 hour" %}
						{% set diferencia = 250 %}
				{% else %}
						{% set adelando = "+12 hour" %}
						{% set diferencia = 500 %}
				{% endif %}			
				 
		 var graficame1 = { data: [
					{% set extra_hora = "[" %}
					{% set extra_quien = "[" %}
					{% for i in grafico %}
						[{{i.fecha|date_modify("+0 day 00:00:00")|date("U")}}000, {{i.agua}}]
						{% if not loop.last %},{% endif %}
						{%set contador = contador +1 %}
							{%set extra_hora = extra_hora ~ '"' ~ i.fecha|date('d/m/Y H:i') ~ '"' %}
							{%set extra_quien = extra_quien ~ '"' ~ i.username ~ '"' %}
						{% if not loop.last %}
							{%set extra_hora = extra_hora ~ ","%}
							{%set extra_quien = extra_quien ~ ","%}
						{% else %}
							{%set extra_hora = extra_hora ~ "]"%}
							{%set extra_quien = extra_quien ~ "]"%}
						{% endif %}
					{% endfor %}
					], color: "{{ cycle(colores, contador ) }}", bars: { show: true, barWidth: {{diferencia}} * 60 * 60 * 24 },extra:{{extra_quien|raw}},tipo:"Agua",hora:{{extra_hora|raw}}};
		 var graficame2 = { data: [
					{% set extra_hora = "[" %}
					{% set extra_quien = "[" %}
					{% for i in grafico %}
						[{{i.fecha|date_modify("+0 day 00:00:00")|date_modify(adelando)|date("U")}}000, {{i.aditivo}}]
						{% if not loop.last %},{% endif %}
						{%set contador = contador +1 %}
							{%set extra_hora = extra_hora ~ '"' ~ i.fecha|date('d/m/Y H:i') ~ '"' %}
							{%set extra_quien = extra_quien ~ '"' ~ i.username ~ '"' %}
						{% if not loop.last %}
							{%set extra_hora = extra_hora ~ ","%}
							{%set extra_quien = extra_quien ~ ","%}
						{% else %}
							{%set extra_hora = extra_hora ~ "]"%}
							{%set extra_quien = extra_quien ~ "]"%}
						{% endif %}
						
					{% endfor %}
					], color: "{{ cycle(colores, contador ) }}", bars: { show: true, barWidth: {{diferencia}} * 60 * 60 * 24 },extra:{{extra_quien|raw}},tipo:"Aditivo",hora:{{extra_hora|raw}}};
				  

				var meses = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "jul", "Ago", "sep", "Oct", "nov", "dec"];
		
			  $.plot(placeholder2, [graficame1,graficame2], {
							axisLabels: {
								show: true
							},xaxis: { 
									mode: "time" ,
									min : {{fecha_minima|date_modify("-1 day")|date("U")}}000,
									max : {{fecha_maxima|date_modify("+0 day 18:00:00")|date("U")}}000,
									monthNames: meses,									
						{% if diferencia < 400 %}		
									tickSize: [1, "day"],
						{% endif %}
									axisLabel: 'Fecha'
							},yaxis: { 
									axisLabel: 'Liquidos(m3)',
									labelWidth : 38
							}, grid: {
								hoverable: true,
								clickable: true,
								borderWidth: .3
							}});
			
			
			  //pie chart tooltip example
			  var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
			  var previousPoint = null;

			

			placeholder2.on('plothover', function (event, pos, item)  {
				if(item) {
						var fecha = new Date(item.datapoint[0]);
						<!-- var tip = 'Cantidad: ' + item.datapoint[1]  + ' m3<br>' + fecha.getUTCDate() + "/" + (fecha.getUTCMonth()+1) + "/" + fecha.getUTCFullYear() ;  -->

						var tip = item.series['tipo'] + ' (m3): ' + item.datapoint[1] + '<br>Ingresado por: ' + item.series['extra'][item.dataIndex] + '<br>fecha/Hora: ' + item.series['hora'][item.dataIndex] ; 
		
						$tooltip.show().children(0).html(tip);
					
					$tooltip.css({top:pos.pageY + 10, left:pos.pageX + 10});
				} else {
					$tooltip.hide();
					previousPoint = null;
				}
				
			 });
			 
			
			}
			
			
        jQuery(function($) {

								//or change it into a date range picker
								$('.input-daterange').datepicker({
										autoclose:true,
                                        weekStart: 1,
                                        language: "es",
                                        format: "dd-mm-yyyy"
								})
							
				
                                //show datepicker when clicking on the icon
                                .next().on(ace.click_event, function(){
                                        $(this).prev().focus();
                                });
								

                        });

</script>	
{% endblock %}