{% extends "::base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
                <link rel="stylesheet" href="{{ asset('bundles/eye3caminos/css/datepicker.css') }}" />
                <link rel="stylesheet" href="{{ asset('bundles/eye3caminos/css/datepicker3.css') }}" />
{% endblock %}


{% block body %}

   <div class="row" >
                <div class="col-md-4 col-xs-2"></div>
                <div class="col-md-4 col-xs-9">
                        <!-- #section:plugins/date-time.datepicker -->
                                <form action="#" method="POST">
						<div>
								<input type="checkbox" name="rango" id="rango" {{rango?'checked':''}} onclick="cambios(this);" class="ace ace-switch ace-switch-6" />
								<span class="lbl">Visualización por rango de fechas</span>
						</div>
                        <div class="input-group input-day col-md-6 col-xs-10" style="{{rango?'display:none':''}}">
                                <input class="form-control date-picker" name="fecha" id="id-date-picker-1" type="text"  placeholder="{{fecha}}" value="{{fecha}}" />
                                <span class="input-group-addon">
                                        <i class="fa fa-calendar "></i>
                                </span>
                        </div>
						<div class="input-daterange input-group col-md-8 col-xs-12" style="{{rango?:'display:none'}}">
								<input type="text" class="input-sm form-control" name="start"  placeholder="{{start}}" value="{{start}}"/>
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-arrow-right"></i>
								</span>
								<input type="text" class="input-sm form-control" name="end"  placeholder="{{end}}" value="{{end}}"/>
						</div>
                                <input type="submit" value="ver">
                                </form>
                </div>
        </div>
		
		<div class="col-12">
			<div class="page-header"><h1>Gráficos Polvo</h1></div>
		</div>
		
		<div class="col-12">
			
				<div id="placeholder1" ></div><br><br>
				<div id="placeholder2"></div><br><br>
				<div id="placeholder3" ></div><br><br>
				<div id="placeholder4" ></div>
		</div>

		
<!-- basic scripts en base -->
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{asset('bundles/eye3caminos/js/jquery.min.js')}}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='{{asset('bundles/eye3caminos/js/jquery1x.min.js')}}'>"+"<"+"/script>");
		</script>
		<![endif]-->
		
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{{asset('bundles/eye3caminos/js/jquery.mobile.custom.min.js')}}'>"+"<"+"/script>");
		</script>

		{#
			<script src="{{ asset('bundles/eye3caminos/js/ace-elements.min.js') }}"></script>
			<script src="{{ asset('bundles/eye3caminos/js/ace.min.js') }}"></script>
			#}


            <script src="{{ asset('bundles/eye3caminos/js/date-time/bootstrap-datepicker.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/eye3caminos/js/date-time/locales/bootstrap-datepicker.es.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/eye3caminos/js/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('bundles/eye3caminos/js/flot/jquery.flot.symbol.js') }}"></script>
			<script src="{{ asset('bundles/eye3caminos/js/flot/jquery.flot.time.min.js') }}"></script>
			<script src="{{ asset('bundles/eye3caminos/js/flot/jquery.flot.resize.min.js') }}" type="text/javascript"></script>

			{% set graficos = {'tpm':"#EE3830", 'pm10':"#F47A2C", 'pm25':"#9CCC51", 'pm1':"#00828F"} %}
			
    <script type="text/javascript">
        $(document).ready(function () {
					{{rango?'xrango()':'xdia()'}};
        });
		
		function cambios(event){
			ocultar();
			if(event.checked) xrango();
			else xdia();
		}
		
		function ocultar(){
			var placeholder1 = $('#placeholder1').css({'display':'none'});
			var placeholder2 = $('#placeholder2').css({'display':'none' });
			var placeholder3 = $('#placeholder3').css({'display':'none' });
			var placeholder4 = $('#placeholder4').css({'display':'none'});
		}
		
		function xdia() {
			//flot chart resize plugin, somehow manipulates default browser resize event to optimize it!
			  //but sometimes it brings up errors with normal resize event handlers
			  $.resize.throttleWindow = false;
			  
			$('.input-day').css({'display': ''});
			$('.input-daterange').css({'display': 'none'});
			
			var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
			var previousPoint = null;
				  
			
			{% for medicion,color in graficos %}
				{% if datos is not empty  %}
					{% if datos[0][medicion]  %}
						var placeholder{{loop.index}} = $('#placeholder{{loop.index}}').css({'width':'90%' , 'min-height':'200px', 'display': ''});
				
						var build_{{medicion}}_data = [
								{%- for i in datos[1:] -%}
									[{{(fecha|date("Ymd")~'T'~(i.utctime|round))|date("U")}}000, {{i[medicion]}}]
									{% if not loop.last %},{% endif %}
								{%- endfor -%}
							  ]

						var data{{loop.index}} = [
							{label: "{{medicion}}", data: build_{{medicion}}_data,  points: { symbol: "diamond" },color: "{{color}}"}
						];
			 
						var options = {
							xaxis: { 
									mode: "time" ,
									timezone: "browser"
								{#	timezone: "UTC" la otra opcion #}
							}, yaxis: {
							}, grid: {
								hoverable: true,
								clickable: true,
								borderWidth: .3
							}, legend: {
							}, series: {
									points: {
											show: true,
											radius: 3
											}
							}
						};
		 
						$.plot($("#placeholder{{loop.index}}"), data{{loop.index}}, options);	
						


						placeholder{{loop.index}}.on('plothover', function (event, pos, item) {
							if(item) {
									var fecha = new Date(item.datapoint[0]);
								if (previousPoint != item.seriesIndex) {
									previousPoint = item.seriesIndex;
									var tip = fecha.toLocaleTimeString() + " -> " + item.datapoint[1].toFixed(1) ; 
									$tooltip.show().children(0).text(tip);
								}
								$tooltip.css({top:pos.pageY + 5 , left:pos.pageX + 5});
							} else {
								$tooltip.hide();
								previousPoint = null;
							}
							
						 });
					{% endif %}
				{% endif %}
			{% endfor %}
		}
		
		function xrango() {
		
			$.resize.throttleWindow = false;
			
			$('.input-day').css({'display': 'none'});
			$('.input-daterange').css({'display': ''});
			
			var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
			var previousPoint = null;
				  
			
			{% for medicion,color in graficos %}
				{% if promedio is not empty  %}
					
						var placeholder{{loop.index}} = $('#placeholder{{loop.index}}').css({'width':'90%' , 'min-height':'200px', 'display': ''});
				
						var build_{{medicion}}_data = [
								{%- for i in promedio-%}
									[{{i.fecha|date("U")}}000, {{i[medicion]}}]
									{% if not loop.last %},{% endif %}
								{%- endfor -%}
							  ]

						var data{{loop.index}} = [
							{label: "{{medicion}}", data: build_{{medicion}}_data , points: { symbol: "circle" },  color: "{{color}}"}
						];
			 
						var options = {
							xaxis: { 
									mode: "time" ,
									tickSize: [1, "day"],
									timezone: "browser"
								{#	timezone: "UTC" la otra opcion #}
							}, yaxis: {
							}, grid: {
								hoverable: true,
								clickable: true,
								borderWidth: .3
							}, legend: {
							}, series: {
										points: {
											show: true,
											radius: 3
											}
							}
						};
		 
						$.plot($("#placeholder{{loop.index}}"), data{{loop.index}}, options);	
						


						placeholder{{loop.index}}.on('plothover', function (event, pos, item) {
							if(item) {
									var fecha = new Date(item.datapoint[0]);
								if (previousPoint != item.seriesIndex) {
									previousPoint = item.seriesIndex;
									var tip = fecha.toLocaleTimeString() + " -> " + item.datapoint[1].toFixed(1) ; 
									$tooltip.show().children(0).text(tip);
								}
								$tooltip.css({top:pos.pageY + 5 , left:pos.pageX + 5});
							} else {
								$tooltip.hide();
								previousPoint = null;
							}
							
						 });
					
				{% endif %}
			{% endfor %}

		}
		
        jQuery(function($) {

                                //datepicker plugin
                                //link
                                $('.date-picker').datepicker({
                                        autoclose: true,
                                        weekStart: 1,
                                        language: "es",
                                        todayBtn: "linked",
                                        format: "dd-mm-yyyy",
                                        todayHighlight: true
                                })
								
								//or change it into a date range picker
								$('.input-daterange').datepicker({
										autoclose:true,
                                        weekStart: 1,
                                        language: "es",
                                        format: "dd-mm-yyyy"
								})
							
				
                                //show datepicker when clicking on the icon
                                .next().on(ace.click_event, function(){
                                        $(this).prev().focus();
                                });
								

                        });

</script>		
	
{% endblock %}
